body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/minimal-triangle-pattern-design-pastel-colors_1017-14885.jpg?w=826&t=st=1671100045~exp=1671100645~hmac=03fc9c1c633455acd127840588cd025403d855578aa4e463150faf7b376f696d");
    color: rgb(65, 65, 17);
    /* background-size: 30%; */
}

.text-form {
    display: flex;
    flex-direction: column;
}

.text-label {
    display: flex;
    flex-direction: column;
}

.text {
    resize: none;
    width: 80vw;
}

.ascii-art-output {
    display: block;
    width: 79vw;
    padding: 2vh;
    margin-top: 2vh;
    overflow: auto;
    overflow-y: hidden;
    /* background: #efefef; */
    border: 1px solid rgb(0, 0, 0);
    /* background: url(lines.png) repeat 0 0; */
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: white;
    color: black;
}

/* .buttons {
    display: flex;
    flex-direction: row;
} */